doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/magic.css")
    title Document
  body 
    //- h1.magictime.puffIn(style={'text-align': 'center'}) Hello World!
    //- h2.magictime.puffOut(style={'text-align': 'center'}) 你好呀！
    //- h3.magictime.vanishIn(style={'text-align': 'center'}) My 姜
    //- h4.magictime.vanishOut(style={'text-align': 'center'}) heihei!
    //- h5.magictime.boingInUp(style={'text-align': 'center'}) 野心！
    //- h6.magictime.boingOutDown(style={'text-align': 'center'}) 书籍
    //- div.magictime.bombLeftOut(style={'text-align': 'center'}) 李天佑
    //- p.magictime.bombRightOut(style={'text-align': 'center'}) zuihou
    //- img.magictime.magic(src="../images/tree.jpg", alt="tree", style={width: '100px'})
    //- div.magictime.swap(style={'text-align': 'center'}) 大小
    //- h1.magictime.twisterInDown(style={'text-align': 'center'}) 索命铁枪
    img.magictime.twisterInDown(src="../images/tree.jpg", alt="tree", style={width: '100px', 'margin-left': '100px'})

    //- h1.magictime.twisterInUp(style={'text-align': 'center'}) 奋力
